* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  margin-left: 20px;
  margin-top: 30px;
  justify-content: center;
}

.header a {
  text-decoration: none;

.copyright {
  border: 2px #3f3a3a solid;
  background-color: white;
  padding: 20px 10px;
  width: 95vw;
  bottom: 4%;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .popup-image {
    grid-template-columns: 1fr;
    width: 100%;
  }

  img#staticBackdropLabel {
    width: 100%;
  }
}
